  <div class="content1">
       <hr>
       <ul>
        <li style="float: left">
        <span>日時：</span><%= lecture.date %>
        </li><br>
        <h4><a href="lectures/<%= lecture.id %>"><%= lecture.title %></a></h4>
        <li style="float: left">
        <span>会場：</span><%= lecture.place %>
        </li>
       </ul>
 　   </div>