<div class="contents clearfix">
     <div class="left-content">
     </div>
       
      <div class="right-content">
        <ul><%= paginate(@lectures) %></ul>
       <ul>
        <% @lectures.each do |lecture| %>
        <%= render partial: "lecture", locals: { lecture: lecture } %>
        <% end %>
       </ul>
       <ul><%= paginate(@lectures) %></ul>
       </div>
    </div>


